<table>
  <tr>
    <td class="title"><%= form.text_field :title, :label => 'Project Title', :class => 'big' %></td>
    <td class="rate"><label>Default Hourly Rate</label><%= number_to_currency '80' %></td>
  </tr>
</table>

<table id="tasks" class="tasks">
  <tr>
    <th></th>
    <th class="description"><label>Task Description</label></th>
    <th class="hours"><label>Hours</label></th>
    <th class="rate"><label>Rate</label></th>
    <th class="estimate"><label>Estimated Fee</label></th>
  </tr>
  <%= form.render_associated_form @estimate.tasks, :new => @estimate.new_record? ? 10 : nil %>
</table>

<br />

<%= form.add_associated_link image_tag('add.png') + ' Add Task', @estimate.tasks.build %>

<div id="total">
  Total Estimate: <span>$0.00</span>
</div>