<% form_assistant_for @estimate do |form| %>
  <%= form.partial 'form', :locals => { :form => form } %>
  <p class="submission">
    <%= submit_tag 'Update Estimate' %> or <%= form.cancel %>
  </p>
<% end %>