<% form_assistant_for @estimate do |form| %>
  <%= form.partial 'form', :locals => { :form => form } %>
  <p class="submission">
    <%= submit_tag 'Save Estimate' %> or <%= link_to 'Reset Form', '#', :rel => 'reset' %> or <%= form.cancel %>
  </p>
<% end %>