#wrapper {
  width: 800px;
  margin: 20px auto;
  position: relative;
}
#welcome {
  padding: 20px;
  background: #f9f9d0;
  border: 1px dashed #e1e1a0;
  text-align: center;
}
#welcome h1 {
  border: 0;
  color: #111;
  letter-spacing: -3px;
  font-size: 35px !important;
  margin-bottom: 0;
}
#welcome span {
  display: block;
  font-size: 14px;
  color: #777;
}
#welcome p {
  font-size: 18px;
  margin: 20px 0 15px 0;
  color: #555;
}
#welcome p a:link,
#welcome p a:visited {
  font-size: 20px;
  color: #214f82;
  font-weight: bold;
}
#hdr {
  border-bottom: 10px solid #e7e7e7;
  padding: 10px 0 0 0;
  margin-bottom: 5px;
  position: relative;
}
#hdr h1 {
  font-size: 35px;
  font-weight: normal;
  color: #555;
  letter-spacing: -1px;
  float: left;
  margin-bottom: 0;
}
#hdr h1 a.logo {
  float: left;
  margin-bottom: 0;
}
a#new-estimate {
  position: absolute;
  top: 20px;
  right: 265px;
}
a.rate {
  text-decoration: none;
}
#hdr h1 span.group {
  color: #999;
  font-size: 20px;
  border-left: 1px solid #ddd;
  padding-left: 12px;
  line-height: 120%;
  float: right;
  width: 183px;
  overflow: hidden;
  margin-left: 6px;
}
#hdr h1 span.group span {
  font-size: 13px;
  display: block;
}
#hdr h1 span a {
  color: inherit;
}
#hdr h1 span a img {
  margin: 0 4px -5px -4px;
}
#hdr h1 span a:hover {
  color: #111;
}
ul.navigation {
  position: absolute;
  top: 5px;
  right: 0;
}
ul.navigation li {
  float: left;
  margin-left: 2px;
}
ul.navigation li a {
  display: block;
  padding: 20px;
  font-size: 20px;
  text-transform: lowercase;
  color: #777;
  text-decoration: none;
  background: #f9f9f9;
}
ul.navigation li a:hover {
  color: #444;
  background: #f5f5f5;
}
ul.navigation li.current a,
ul.navigation li.current a:hover {
  background: #e7e7e7;
  color: #325270;
}
#content {
  margin-top: 20px;
}
#content h1 {
  font-size: 23px;
  padding-bottom: 8px;
  border-bottom: 1px solid #f1f1f1;
}
#content h1 span {
  float: right;
  font-size: 14px;
  letter-spacing: 0;
}
div.settings .left {
  width: 425px;
}
div.settings .left h5,
div.settings .left h5 label {
  font-size: 12px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #222;
}
div.settings .right {
  width: 325px;
  padding: 15px;
  background: #f7f7f7;
  border: 1px dotted #ddd;
}
div.settings .right p,
div.settings .left p {
  font-size: 12px;
  color: #444;
  line-height: 150%;
  margin-bottom: 15px;
}
div.settings .right h5 {
  font-size: 17px;
  margin-bottom: 2px;
}
div.settings input.text {
  font-size: 13px;
  padding: 3px;
}
div.settings p.rate input.text {
  width: 55px;
  margin: 0 4px;
}
div.settings p.rate {
  font-size: 14px;
}
div.settings p.rate span {
  font-size: 13px;
  color: #999;
}
div.settings p.submission {
  margin-top: 25px;
}
ul.estimates,
ul.list {
  border-top: 1px solid #f1f1f1;
}
ul.estimates li,
ul.list li {
  font-size: 15px;
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
}
ul.list li,
ul.checked li {
  font-size: 12px;
  padding: 5px 5px 5px 25px;
  color: #555;
}
ul.checked li {
  background: url(../images/check.png) no-repeat 5px 4px;
}
ul#default_tasks {
  margin-bottom: 10px;
}
ul.list li.default_task {
  padding: 5px;
}
ul.list li.default_task input.text {
  width: 80%;
  margin-left: 5px;
}
ul.estimates li span.soft {
  color: #999;
  font-size: 11px;
  margin: 0 3px;
}
ul.estimates li span.date {
  color: #999;
}
ul.estimates li.odd,
ul.list li.odd,
ul.checked li.odd {
  background-color: #f7f7f7;
}
ul.estimates span.options,
ul.estimates span.total {
  float: right;
}
ul.estimates span.options {
  font-size: 11px;
  margin: -10px -10px -10px 10px;
  padding: 12px 10px 12px 10px;
  background: #ffffcc;
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
  color: #999;
}
ul.estimates span.options a {
  margin: 0 2px;
  font-weight: bold;
}
.highlight {
  background: #fffff5 !important;
}
.errors {
  display: block;
  margin-top: 7px;
}
table {
  width: 100%;
  margin-bottom: 25px;
}
table td.title {
  width: 78%;
}
table td.rate {
  text-align: right;
  font-size: 36px;
  font-weight: bold;
  color: #333;
}
table.tasks {
  margin-bottom: 0;
}
table.tasks td {
  padding: 5px 0;
  text-align: left;
}
table.tasks td.description,
table.tasks td.hours,
table.tasks td.rate,
table.tasks td.estimate {
  font-size: 14px;
  color: #999;
}
table.tasks td.option {
  padding-left: 5px;
  vertical-align: middle;
}
table.tasks td.estimate {
  padding-right: 5px;
}
table.tasks td.description input.text,
table.tasks td.hours input.text,
table.tasks td.rate input.text {
  width: 90%;
  font-size: 13px;
  padding: 2px;
}
table.tasks td.hours input.text,
table.tasks td.rate input.text {
  margin: 0 10px 0 0;
  width: 55px;
}
table.tasks td.description {
  width: 40%;
}
table.tasks td.default {
  width: 15%;
}
table.tasks td.hours,
table.tasks td.rate {
  width: 13%;
  padding-right: 10px;
}
table.tasks td.estimate {
  color: #333;
}
table.tasks td.estimate,
th.estimate {
  text-align: right;
}
table tr.odd {
  background: #f1f1f1;
}
table tr.odd td {
  border: 1px solid #e5e5e5;
  border-left: 0;
  border-right: 0;
}
div#total {
  border-top: 3px dashed #bbb;
  padding-top: 10px;
  text-align: right;
  font-size: 25px;
  color: #bbb;
  margin: 20px 0 30px 0;
}
div#total span {
  color: #333;
  font-weight: bold;
}
label {
  color: #999;
  display: block;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 5px;
}
label span {
  color: #ccc;
}
label a {
  margin: 0 2px;
}
p.inline label {
  display: inline;
  text-transform: none;
  color: #333;
}
form span.inline {
  display: inline;
  float: right;
}
input.big {
  font-size: 18px;
  padding: 5px;
  width: 96%;
}
p.submission {
  margin: 5px 0 20px 0;
  border-top: 10px solid #e7e7e7;
  padding-top: 10px;
  font-size: 12px;
  color: #888;
}
p.submission input.submit {
  margin-right: 3px;
}
#content .pagination {
  padding: 5px 0;
  margin: 15px 0 10px 0;
  text-align: right;
  font-size: 12px;
}
#content .pagination a {
  padding: 2px 5px 2px 5px;
  margin: 1px;
  border: 1px solid #f8f8f8;
  text-decoration: none;
  color: #325270;
}
#content .pagination a:hover, 
#content .pagination a:active {
  border: 1px solid #ccc;
  color: #276b68;
}
#content #large .pagination a:hover,
#content #large .pagination a:active {
	border: 1px solid #444;
  color: #777;
  background: #272727;
}
#content .pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #436d96;
  font-weight: bold;
  background-color: #436d96;
  color: #fff;
}
#content .pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  color: #999;
}