#wrapper {
  width: 800px;
  margin: 20px auto;
  position: relative;
}
#hdr {
  border-bottom: 10px solid #e7e7e7;
  padding: 10px 0 20px 0;
  margin-bottom: 20px;
}
#hdr h1 {
  font-size: 35px;
  color: #555;
  letter-spacing: -1px;
  display: inline;
  position: relative;
  padding-right: 160px;
}
#hdr h1 a.logo {
  float: left;
}
#hdr h1 span.group {
  color: #999;
  font-size: 20px;
  border-left: 1px solid #ddd;
  padding-left: 12px;
  line-height: 115%;
  position: absolute;
  top: 0;
  right: 0;
}
#hdr h1 span.group span {
  font-size: 13px;
}
#hdr h1 span a {
  color: inherit;
}
#hdr h1 span a img {
  margin: 0 4px -5px -4px;
}
#hdr h1 span a:hover {
  color: #111;
}
ul.navigation {
  position: absolute;
  top: 5px;
  right: 0;
}
ul.navigation li {
  float: left;
  margin-left: 2px;
}
ul.navigation li a {
  display: block;
  padding: 20px;
  font-size: 20px;
  text-transform: lowercase;
  color: #777;
  text-decoration: none;
  background: #f9f9f9;
}
ul.navigation li a:hover {
  color: #444;
  background: #f5f5f5;
}
ul.navigation li.current a,
ul.navigation li.current a:hover {
  background: #e7e7e7;
  color: #325270;
}