/* CSS RESET - Courtesy of Eric Meyer */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
	font-family: 'lucida grande', helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* END CSS RESET */

a {
  color: inherit;
}
a:hover {
  color: #111;
}
.ie7 a:link,
.ie7 a:visited {
  color: #333;
}
.ie7 a:hover {
  color: #111;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  display: block;
  clear: both;
}
h1, h2, h3, h4, h5,
h5 label {
  color: #333;
  letter-spacing: -1px;
  margin-bottom: 15px;
  font-weight: bold;
}
h1 {
  font-size: 27px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
.red {
  color: #af0100;
}
em {
  font-style: italic;
}
p {
  line-height: 140%;
  margin-bottom: 10px;
}
p.notice,
p.warning,
p.error {
  font-size: 16px;
  padding: 17px 10px 18px 10px;
  margin-bottom: 10px;
}
p.notice span,
p.warning span,
p.error span {
  float: left;
  width: 42px;
  height: 32px;
  margin-top: -5px;
}
p.notice {
  background: url(../images/flash-notice-bg.jpg) repeat-x left top;
  color: #41612f; 
}
p.notice span {
  background: url(../images/flash-check.png) no-repeat left top;
}
p.warning {
  background: url(../images/flash-warning-bg.jpg) repeat-x left -10px;
  color: #a26a1a;
}
p.warning span {
  margin-top: -6px;
  background: url(../images/flash-warning.png) no-repeat left top;
}
p.error {
  background: url(../images/flash-error-bg.jpg) repeat-x left -10px;
  color: #af0100;
}
p.error span {
  margin-top: -6px;
  background: url(../images/flash-error.png) no-repeat left top;
}
.errors {
  color: #af0100;
}

#e #header {
  margin-bottom: 15px;
  padding:  0 8px;
  border-bottom: 1px dotted #ddd;
}
#e #header h1 {
  color: #111;
  font-size: 25px;
  border: 0;
}
#e #header span {
  color: #888;
  font-size: 11px;
  float: right;
  letter-spacing: 0;
  font-weight: normal;
  text-align: right;
  line-height: 140%;
}
#e label {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  color: #999;
  margin-bottom: 5px;
}
#e table {
  width: 100%;
}
#e table td,
#e table th {
  vertical-align: top;
  padding: 8px;
  color: #222;
}
#e table#tasks td {
  padding: 10px 8px;
  font-size: 15px;
}
#e table .description {
  width: 45%;
}
#e table .hours {
  width: 15%;
}
#e table td.rate {
  width: 15%;
  text-align: left;
  font-weight: normal;
}
.win.gecko #e table td.rate {
  width: 13%;
}
#e table td.hours span,
#e table td.rate span {
  color: #aaa;
  float: right;
}
#e table td.hours span {
  margin-right: 28px;
}
#e table#tasks th,
#e table tr td {
  border-bottom: 1px solid #e5e5e5;
}
#e table tr.odd td {
  background: #f5f5f5;
}
#e table .aright {
  text-align: right;
}
#e table#totals {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 5px solid #aaa;
}
#e table#totals td {
  font-size: 21px;
  font-weight: bold;
  background: #ffffcc;
}
#e table#totals .soft {
  color: #888;
}
#sub-total {
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
}
#sub-total p {
  color: #999;
  margin-bottom: 3px;
}
#sub-total p:first-child {
  font-weight: bold;
}
#sub-total p span {
  float: right;
  width: 150px;
}