<div class="settings">
  <div class="right">
    <% section 'Your Default Rate' do %>
      <p>
        Having a default rate allows Ballpark to assist with your estimates. You can have the rate field
        automatically filled in (the default, see below), or you can click a "load default rate" link on the actual form 
        to fill it in. Either way, it's just for convenience.
      </p>
    <% end %>
    
    <% section 'Turning Your Default Rate off' do %>
      <p>
        If you have a default rate set, the rate field will be automatically filled in when you create 
        a new estimate. Turn this option off if you'd rather fill in your default rate at your own discretion, by using
        the provided link on the actual form.
      </p>
    <% end %>
    
    <% section 'Creating Default Tasks' do %>
      <p>
        If your estimates always include certain tasks (e.g. "XHTML/CSS Development" or "Miscellaneous"), you can set
        those tasks to be defaults. Then, when you create a new estimate, those tasks will automatically be loaded.
      </p>
      <p> 
        You can set these tasks here by filling in your default tasks to the left, or you can set them on the fly 
        as you create a new estimate by checking the "default" option on the estimate form.
      </p>
    <% end %>
  </div>
  
  <div class="left">
    <%= yield %>
  </div>
  
  <div class="clearfix"></div>
</div>